body{
  position: relative;
}

.text-size
{
  font-size: 27px !important;
}
.space{
  margin-bottom: 12px;
}

.input{
  width: 36% !important;
  
}
.input-margin{
  margin-right: 4% !important;
}

.wrapper{
  flex-wrap: wrap;
}

.mw{

  min-width: 10rem !important;
}


